---
layout: default
title: Site Tags
---

<article>
  <h2>Site Tags</h2>
  <div class="post-tags">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr />
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
    <ul class="-">
      {% for post in tag[1] %}
      <a class="post-title" href="{{ post.url }}">
        <li>
          <h4 class="post-title">{{ post.title }}</h4>
          <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</article>