$width: 260px;
$backgroundColour: #ececec;
$highlightColour: #2a87bb;
$bodyTextColour: #1D292F;

$highlightBarHeight: 0.3rem;


$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1200px) !default;
