---
layout: default
---
<article>
  <img src="{{ page.image }}" alt="Preview of {{ page.title }}">
  <h2 class="post-title">{{ page.title }}</h2>
  <div class="post-tags">
    {% for tag in page.tags %}
    <a class="tag" href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
    {% endfor %}
  </div>
  <small class="post-date">{{ page.date| date_to_long_string }}</small>
  {{ page.content }}
  {% if page.siteURL != null %}
  <a href="{{ page.siteURL }}" class="button" target="_blank">Visit Site</a>
  {% endif %}
</article>
